body{

    background-image: url(arkaplan.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;           
    background-attachment: fixed;
    background-color: #1b1a1a; 

}

.kapsayici{

    display: flex;
    width: 100%;
    height: 100vh;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;  


}


.baslik{

    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
    


}

.evet{

    width: 300px;
    height: 150px;
    display: inline-block;
    color: aliceblue;
    font-size: xx-large;
    background-color: #f101d9;
    border-radius: 10px;
    border-color: #1b1a1a;
    border-width: 2px;
 

}

.hayir{

    width: 300px;
    height: 150px;
    display: inline-block;
    color: aliceblue;
    font-size: xx-large;
    background-color: #370032;
    border-radius: 10px;
    border-color: #1b1a1a;
    border-width: 2px;
 

}

.evet:hover{
    border-color:#370032 ;

}

.evet:active{
    transform: scale(0.95);
}

.hayir:hover{
    border-color: #f101d9;
}

.hayir:active{
    transform: scale(0.95);
}

#myVideo1 {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;  
  height: 100vh; 
  
  
  transform: translate(-50%, -50%);
  
  
  object-fit: contain; 
  
  z-index: -1;
}

#myVideo2 {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;  
  height: 100vh; 
  
  
  transform: translate(-50%, -50%);
  
  
  object-fit: contain; 
  
  z-index: -1;
}